.about {
  &__content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    width: 49%;
    color: $fontLight;
    min-width: 49%;
  }

  &__img-container {
    margin-left: 40px;
  }

  &__img {
    max-width: 100%;
  }
}
