.hero {
  height: 720px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include breakpoint-down(small) {
    height: 620px;
  }

  &__pllx {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include breakpoint-down(smedium) {
      height: 125%;
    }

    &-img1 {
      background-image: url('../images/imgPar1.png');
      z-index: 1;
    }

    &-img2 {
      background-image: url('../images/imgPar2.png');
      z-index: 2;
    }

    &-img3 {
      background-image: url('../images/imgPar3.png');
      z-index: 3;
    }

    &-img4 {
      background-image: url('../images/imgPar4.png');
      z-index: 3;
    }
  }

  &__about {
    width: 100%;
    height: 720px;
    padding: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainLight;
  }

  &__title,
  &__subtitle {
    width: 100%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    top: 43%;
    z-index: 1;
    font-size: 2rem;
    letter-spacing: 2px;

    @include breakpoint-down(small) {
      font-size: 1.5rem;
      top: 47%;
    }
  }

  &__subtitle {
    top: 51%;
    font-size: 1.5rem;
    z-index: 2;

    @include breakpoint-down(small) {
      font-size: 1rem;
      top: 54%;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  &__img-container {
    width: 175px;
    height: 175px;
    top: 18%;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }

  &__cta {
    margin-top: 10px;
    top: 80%;
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: $fontSm;
    letter-spacing: 1px;
    z-index: 3;

    @include breakpoint-down(small) {
      font-size: 0.75rem;
    }

    a {
      padding: 10px 15px;
      color: $mainLight;
      background-color: $buttonLight;
      border-radius: 16px;

      @include breakpoint-down(small) {
        padding: 7px 10px;
      }
    }
  }
}

.dark {
  .hero {
    &__about {
      color: $mainDark;
    }

    &__title,
    &__subtitle {
      color: $fontHeadingDark;
    }

    &__cta {
      a {
        color: $fontDark;
        background-color: $buttonDark;
      }
    }
  }
}
