.home {
  width: calc(100% - 0px); // * When active, take sidebars width '300px'
  left: 0px;
  position: absolute;
  background-color: $secondaryLight;
  transition: width 200ms ease-in-out, left 200ms ease-in-out;

  &--active {
    width: calc(100% - 250px); // * Calculating sidebar width
    left: 250px;

    @include breakpoint-down(smedium) {
      width: calc(100% - 300px);
      left: 300px;
    }

    @include breakpoint-down(small) {
      left: 100%;
    }
  }
}

.dark {
  .home {
    background-color: $secondaryDark;
  }
}
