.projects {
  &__content {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include breakpoint-down(smedium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-down(small) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__proj-container {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: $blockLight;

    &:hover {
      .projects__img-container {
        transform: translateY(-100%);
      }
      .projects__text {
        transform: translateY(0);
      }
    }
  }

  &__img-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateY(0);
    transition: 0.5s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      object-fit: scale-down;

      @include breakpoint-down(smedium) {
        object-fit: cover;
      }
    }
  }

  &__text {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $mainLight;
    transform: translateY(100%);
    transition: 0.5s ease-in-out;

    h3 {
      color: $fontLight;
      font-size: $fontMd;
    }
  }
}

.dark {
  .projects {
    &__proj-container {
      background-color: $blockDark;
    }

    &__text {
      background-color: $mainDark;

      h3 {
        color: $mainLight;
      }
    }
  }
}
