.sidebar {
  &__menu {
    width: 0;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainLight;
    border-right: 1px solid $secondaryLight;
    overflow: hidden;
    transition: width 200ms ease-in-out, left 200ms ease-in-out;

    &--active {
      width: 225px;

      @include breakpoint-down(smedium) {
        width: 300px;
      }

      @include breakpoint-down(small) {
        width: 100%;
        left: 0;
      }
    }
  }

  &__ul {
    position: relative;
    top: -15%;
    left: 0;
    width: 100%;
    padding: 20px 40px;

    @include breakpoint-down(small) {
      top: -25%;
    }
  }

  &__li {
    position: relative;
    width: 100%;

    a {
      margin: 10px 0;
      position: relative;
      display: block;
      white-space: normal;
      text-transform: uppercase;
      color: $fontHeadinglight;
      font-weight: 500;
      letter-spacing: 2px;
      opacity: 0.75;

      &::after {
        width: 0;
        height: 2px;
        content: '';
        display: block;
        background-color: $buttonLight;
        transition: width 200ms ease-in-out;
      }

      &:hover {
        opacity: 1;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
