.technologies {
  &__content {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include breakpoint-down(smedium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-down(small) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__tech-container {
    padding: 50px 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $blockLight;
    border: 1px solid rgba(187, 191, 202, 0.05);

    @include breakpoint-down(smedium) {
      padding: 25px 20px;
    }

    img {
      max-width: 75px;
    }

    h2 {
      margin: 10px 0;
      color: $fontHeadinglight;
      font-size: $fontLg;
      font-weight: 600;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    p {
      color: $fontLight;
      text-align: center;
    }
  }
}
