// Light mode
$mainLight: hsl(60, 8%, 95%);
$secondaryLight: hsl(0, 0%, 91%);
$blockLight: hsl(224, 13%, 76%);
$fontHeadinglight: hsl(216, 15%, 35%);
$fontLight: hsl(219, 58%, 20%);
$buttonLight: hsl(354, 100%, 65%);

// Dark mode
$mainDark: hsl(216, 18%, 17%);
$secondaryDark: hsl(217, 10%, 25%);
$blockDark: hsl(0, 0%, 93%);
$fontHeadingDark: hsl(43, 100%, 71%);
$fontDark: hsl(198, 11%, 25%);
$buttonDark: hsl(180, 41%, 58%);

// Font Size
$fontSm: 0.8125rem;
$fontMd: 1rem;
$fontLg: 1.25rem;
